body{
    background-color: aquamarine;
    color:rgb(0, 0, 0);
    font-size:24px;
    font-family: Arial, sans-serif;
}
h1{
    color:red;
}
#Paragraph{
    font-style:italic;
    color:blueviolet;
}
.container {
    margin: 40px;
    padding: 20px;
    border: 4px solid blue;
    background-color: lightgray;
}
.textbox {
    padding: 20px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: lightyellow;
    transition: 0.3s;
    width: 250px;
    text-align: center;
}
.textbox:hover {
    background-color: gold;      
    border-color: orange;      
    transform: scale(1.05);      
}
.submit-btn {
  background-color: #007BFF;   /* Blau */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;   /* Dunkleres Blau beim Hover */
  transform: scale(1.05);      /* Leicht vergrößern */
}
